# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
ModularHRM/out/production/ModularHRM/META-INF/persistence.xml
ModularHRM/src/META-INF/persistence.xml
out/production/ModularHRM/sample/Main.class
out/production/ModularHRM/sample/forms/view/frEditProject.fxml
out/production/ModularHRM/sample/controllers/LoginController.class
out/production/ModularHRM/META-INF/ModularHRM.kotlin_module
out/production/ModularHRM/br/com/ec6/modular/global/SingletonUserLogged.class
out/production/ModularHRM/br/com/ec6/modular/entities/User.class
out/production/ModularHRM/br/com/ec6/modular/entities/TeamMember.class
out/production/ModularHRM/br/com/ec6/modular/entities/Team.class
out/production/ModularHRM/br/com/ec6/modular/entities/Task.class
out/production/ModularHRM/br/com/ec6/modular/entities/Project.class
out/production/ModularHRM/br/com/ec6/modular/entities/Profile.class
out/production/ModularHRM/br/com/ec6/modular/entities/Member.class
out/production/ModularHRM/br/com/ec6/modular/entities/Event.class
out/production/ModularHRM/br/com/ec6/modular/entities/Basis.class
out/production/ModularHRM/br/com/ec6/modular/dao/UsersDAO.class
out/production/ModularHRM/br/com/ec6/modular/dao/TeamMemberDAO.class
out/production/ModularHRM/br/com/ec6/modular/dao/TeamDAO.class
out/production/ModularHRM/br/com/ec6/modular/dao/TaskDAO.class
out/production/ModularHRM/br/com/ec6/modular/dao/ProfilesDAO.class
out/production/ModularHRM/br/com/ec6/modular/dao/EventDAO.class
out/production/ModularHRM/br/com/ec6/modular/dao/BasisDAO.class
